.sidebar {
  position: sticky;
  top: 95px;
  left: 10px;
  height: 250px;
}

.sidebarMenuBtn {
  display: none;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 35px;
  height: 35px;
  background-color: var(--color-blue);
  border-radius: 50%;
  i {
    color: var(--color-white);
  }

  @media (max-width: 640px) {
    display: block;
  }
}

.sidebarModal {
  display: none;
  @media (max-width: 640px) {
    display: block;
  }
}

.sidebarNull {
  display: none;
  height: 192px;
  width: 200px;
  @media (max-width: 640px) {
    display: block;
  }
}

.sidebarDesktop {
  @media (max-width: 640px) {
    display: none;
  }
}
