
.sidebarContainer {
  box-sizing: border-box;
  position: sticky !important;
  top: 80px !important;
  // width: 15vw;
  border-radius: 15px;
  z-index: 100;
  
  @media (max-width: 1280px) {
    background-color: var(--color-white);
    width: 100px;
    box-shadow: 5px 5px 5px rgba(75, 73, 72, 0.3);
  }
  
  .logoBox {
    background: url('../../../assets/img/logo_side_blue.png');
    background-size: cover;
    display: flex;
    width: 60px;
    height: 47px;
    margin: 10px;

    cursor: pointer;
  }
  .logoBox:hover {
    background: url('../../../assets/img/logo_side_yellow.png');
    background-size: cover;
  }

  .tittleList {
    list-style: none;
    cursor: pointer;
    button {
      padding: 10px;
      color: var(--color-blue);
      font-size: 14px;
    }
    button:hover {
      color: var(--color-yellow);
    }
  }
}
