.lineTitle{
  grid-template-columns: 1fr 3fr 3fr 1fr;
  @media(max-width: 980px) {
    display: none;
}
}

.delivering{
  @media (max-width: 980px){
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        'data data orderCount'
        'Img title orderCount'
        'Img orderInfo orderCount';
  
        .createAt{
            grid-area: data;
        }
        .titleImg{
            grid-area: Img;
        }
        .title{
            grid-area: title;
        }
        .orderInfo{
            grid-area: orderInfo;
        }
        .orderCount{
          grid-area: orderCount;
        }
        p{
          text-align: center;
          color: #969696;
      }
    }
}