.detailDiv{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
    .detailUp{
        display: flex;
        // flex-wrap: wrap;
    }
    .detailDown{
        flex-direction: column;
    }
}