.orderSummery {
  margin-bottom: 40px;
  
  ul {
    background-color: var(--color-grey);
    padding: 30px 20px;
    border-radius: 15px;
    display: flex;
    text-align: center;
    justify-content: space-around;
  }

  li {
    display: flex;
    align-items: flex-end;
    h1 {
      font-size: 35px;
      font-weight: 400;
      color: var(--color-brown);
      margin: 0px 0px 32px 15px;
    }
  }

  .orderIcon {
    p {
      font-size: 15px;
      color: var(--color-brown);
      margin-bottom: 15px;
    }

    i {
      background-color: var(--color-blue);
      text-align: center;
      line-height: 50px;
      width: 90px;
      height: 90px;
      font-size: 40px;
      color: var(--color-white);
      padding: 20px;
      border-radius: 50%;
    }
  }
  @media (max-width: 750px) {
    ul {
      flex-direction: column;
      gap: 10px;
    }

    .orderIcon {
      i {
        display: none;
      }
      p {
        margin-bottom: 0px;
      }
    }

    li {
      justify-content: space-between;
      align-items: center;
      h1 {
        font-size: 20px;
        font-weight: 600;
        color: var(--color-blue);
        margin: 0px;
      }
    }
  }
}

.MypageOrderContainer {
  margin-bottom: 40px;
}

.reviewContainer {
  h1{
    color: var(--color-blue);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  .lineTitle{
      display: grid;
      grid-template-columns: 3fr 3fr 1fr;
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid var(--color-blue);
    li{
      color: var(--color-blue);
    font-size: 14px;
    }
  }
  @media (max-width: 750px) {
    .lineTitle {
      display: none;
    }
  }
  
  @media (max-width: 750px) {
    .lineBold {
      margin-bottom: 20px;
    }
  }
}