.reviewAdd{
  h1{
    color: var(--color-blue);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
  }
}

.reviewForm{
  display: flex;
  flex-direction: column;
  .fileUploader{
    margin-left: 0px;
    margin-bottom: 20px;
  }
  
}

.reviewContent{
  display: flex;
  flex-direction: column;
  width: 330px;
  input{
    min-height: 100px;
    border-radius: 10px;
    border: 1px solid grey;
  }
  button{
    margin-top: 20px;
    background-color: var(--color-blue);
    padding: 10px;
    border-radius: 10px;
    color: var(--color-white);
  }
}