.btn{
  width: 100%;
  padding: 0.8em 0.6em;
  font-size: 17px;
  font-weight: 600;
  outline: none;
  border-radius: 35px;
  cursor: pointer;
  margin-bottom: 10px;
}
.btnColorBlue{
  color: white;
  background-color:var(--color-blue);
}