footer{
  img{
    width: 100%;
    z-index: 1;
    position: relative;
    top: 10px;
  }
  .footer{
    position: relative;
    background-color: var(--color-blue);
    height: 100px;
    width: 100%;
    
  }
}