// footer{
//   // margin-top: 200px;
//   img{
//     width: 100%;
//     z-index: 1;
//     position: relative;
//     top: 10px;
//   }
//   .footer{
//     position: relative;
//     background-color: var(--color-blue);
//     height: 100px;
//     width: 100%;
    
//   }
// }

footer{
  // margin-top: 200px;
  height: 257px;
  img{
    width: 100%;
    height: 157px;
    object-fit: cover;
    z-index: 1;
    position: relative;
    top: 10px;
  }
  .footer{
    position: relative;
    background-color: var(--color-blue);
    height: 100px;
    width: 100%;
    
  }
}

// footer{
//   // margin-top: 200px;
//   height: 257px;
//   // img{
//   //   // width: 100%;
//   //   z-index: 1;
//   //   position: relative;
//   //   top: 10px;
//   // }
//   .footer{
//     position: relative;
//     background-color: var(--color-blue);
//     height: 100%;
//     width: 100%;
    
//   }
// }

.footerContainer{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 0.5em;
  color: var(--color-white);
  @media (max-width: 850px) {
        font-size: 12px;
  }

}

.firstBox{
  display: flex;
    @media (max-width: 680px) {
      flex-wrap: wrap;
  }
  .titleDiv{
    font-weight: bold;
    padding-right: 50px;
    margin-top: 5px;
  }
  .aTag{
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
  a{
    color: var(--color-white);
    padding: 5px;

  }
  }
}

.secondBox{
  margin: 32px 0 0 30px;
    @media (max-width: 680px) {
      display: none;
    }
}

.thirdBox{
  .frontMember{
  }
  a{
    color: var(--color-white);
    padding: 5px;

  }
  i{
    color: var(--color-white);
    padding: 5px;
    font-size: 20px;
  }
}