.reviewShop {
  border-bottom: 1px solid rgba(24, 133, 174, 0.2);
  padding: 30px 10px;
  .reviewTitle {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 20px;
    p {
      font-size: 12px;
    }
    .reviewStar {
      button {
        padding: 0px 2px;
      }
    }
  }

  .reviewImg {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
  }

}


