.reviewListContainer {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  color: var(--color-brown);
  align-items: center;
  gap: 10px;
  font-size: 13px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-blue);
  .reviewTitle {
    display: flex;
    gap: 10px;
    padding-left: 20px;
    margin-bottom: 0px;
    align-items: center;
  }
  img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
  }
  .title {
    color: var(--color-brown);
  }
  .reviewContent{
    width: 100%;
  }
  .reviewBox {
    .reviewStars {
      display: flex;
      margin-bottom: 10px;
      align-items: center;
      button {
        padding: 0px 4px 0px 0px;
      }
    }
    p {
      font-size: 15px;
    }
  }
  .reviewBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 20px;
      color: var(--color-blue);
      padding: 0px 5px;
    }
    .fa-trash-can {
      color: #ba4242;
    }
  }

  @media (max-width: 750px) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    grid-template-areas:
      'title editDlt'
      'review editDlt';

    .reviewTitle {
      grid-area: title;
    }
    .reviewBox {
      padding-left: 20px;
      grid-area: review;
    }
    .reviewBtn {
      grid-area: editDlt;
      flex-direction: column;
      i {
        padding: 5px 0px;
      }
    }
  }
}
