.userInfoFlex{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 55px;
  border-radius: 30px;
  background-color: rgb(230, 232, 245);
  label{
    position: absolute;
    left: 20px;
    color: rgb(109, 109, 109);
  }
  input{
    border: none;
    outline: none;
    margin-left: 75px;
    background-color: rgb(230, 232, 245);
  }
}
.userInfoDisabledFlex{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 55px;
  border-radius: 30px;
  background-color: rgb(230, 232, 245);
  label{
    position: absolute;
    left: 20px;
    color: rgb(109, 109, 109);
  }
  input{
    border: none;
    outline: none;
    margin-left: 75px;
    background-color: rgb(230, 232, 245);
  }
}
.explanation{
  font-size: 11px;
  margin: 10px auto 19px;
  color: #8a8a93;
  @media (max-width: 420px) {
    font-size: 10px;
  }
}
.blank{
  margin-bottom: 30px;
}