.sellerSidebar {
  width: 250px;
}

.sellerDashboard {
  margin: 70px;
  width: 100%;

  h2 {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .dashboardTop {
    display: flex;
  }
  .dashboardHalf {
    width: 50%;
  }
  .dashboardBox {
    width: 100%;
    background-color: rgba(217, 217, 217, 0.17);
    padding: 20px;
    border-radius: 15px;
  }

  .gapline {
    background-color: rgba(212, 212, 212, 1);
  }

  .dashboardBottom {
    display: flex;
  }
}
