.orderSummaryContainer{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative; 
    padding: 0 30px;    
}

.orderSticky{
    width:100%;
    height: 440px;
    position: sticky !important;
    top: 150px !important;
    // font-weight: 400;
    // border: 1px solid black; //for 레이아웃 
}

.orderSummaryBox{
    text-align: center;
    margin-bottom: 25px;
    
    >h1{
        font-size: 18px;
        font-weight: 600;
        color: var(--color-blue);
        width: max-content;
    }
}

//배송지 정보
.orderAddressContainer{
    border-top: 2px solid var(--color-blue);
    // border-bottom: 2px solid var(--color-blue);
    padding: 20px;
    font-size: 16px;

    .AddressPadding{
        text-align: center;
        padding-bottom: 20px;
        color: var(--color-brown)
    }
    .AddressFlexBox{
        width: 100%;
        display: flex;
        justify-content: space-evenly;        
        align-items: center;

        >button{
        border-radius: 5px;
        width: 80px;
        height: 30px;
        border: 1px solid var(--color-blue);
        color: var(--color-blue);
        }
    }
}

//결제 정보
.orderInfoContainer{
    border-top: 2px solid var(--color-blue);
    border-bottom: 2px solid var(--color-blue);
    padding: 20px;
}
.orderTextAlign{
    text-align: center;
    padding-bottom: 20px;
    color: var(--color-brown);
}
.totalPointBox{
    display: flex;
    justify-content: space-between;
    padding: 26px 20px 6px;
}
.remainPoint{
    display: flex;
    justify-content: space-between;
    padding: 26px 20px 26px;
    font-weight: 700;
}
.productPriceBox{
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}
.deliveryFeeBox{
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}

//총 금액 정보
.totalPriceBox{
    display: flex;
    justify-content: space-between;
    padding: 6px 20px 26px;
    border-bottom: 2px solid var(--color-blue);
}

//order버튼 -> 결제창 띄우가
.orderBtnBox{
    display: flex;
    justify-content: center;
    >button{
        display: block;
        border: 2px solid var(--color-yellow);
        background-color: var(--color-yellow);
        color: var(--color-white);
        width: 350px; 
        height: 50px;
        border-radius: 5px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 2px;
        transition: all 0.3s;
    }
    >button:hover{
        background-color: var(--color-white);
        color: var(--color-yellow);
    }
    
    @media(max-width: 980px) {
    display: none;
    }
}