.dashboardDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  h1 {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-blue);
    margin-right: 3px;
  }
  h3 {
    font-size: 12px;
    color: rgba(132, 132, 132, 1);
  }
  h4 {
    font-size: 16px;
    color: var(--color-blue);
    font-weight: 600;
  }
  div {
    display: flex;
    align-items: center;
  }
  .yellow {
    color: var(--color-yellow);
  }
}
