.order {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 0px 0px;
  .orderContainer {
    width: 100%;
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 2fr 4fr;
    align-items: center;

    h3 {
      font-size: 16px;
      color: var(--color-blue);
      font-weight: 600;
    }
  }
  .createdAt {
    margin-bottom: 10px;
  }

  .orderInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .sellerOrderContent {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    img {
      margin: 0 auto;
    }
    .title {
      text-align: start;
    }
  }

  .delivery {
    background-color: var(--color-blue);
    padding: 6px 10px;
    color: var(--color-white);
    border-radius: 10px;
    font-size: 16px;
  }
  @media (max-width: 750px) {
  }
}

// .order {
//   @media (max-width: 980px) {
//     display: grid;
//     grid-gap: 10px;
//     grid-template-areas:
//       'data data orderCount delivery'
//       'Img title orderCount delivery'
//       'Img orderInfo orderCount delivery';

//     .createAt {
//       grid-area: data;
//     }
//     .titleImg {
//       grid-area: Img;
//     }
//     .title {
//       grid-area: title;
//     }
//     .orderInfo {
//       grid-area: orderInfo;
//     }
//     .orderCount {
//       grid-area: orderCount;
//     }
//     .productBtn {
//       grid-area: delivery;
//     }
//     p {
//       text-align: center;
//       color: #969696;
//     }
//   }
// }
