.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}

.modalBox {
  position: absolute;
  top: calc(50vh - 100px);
  left: calc(50vw - 200px);
  background-color: white;
  display: grid;
  grid-template-rows: 3fr 1fr;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  width: 400px;
  height: 200px;
}

.modalText {
  align-items: center;
  padding: 20px;
}
