main{
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 53px - 250px);
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  border: 1px solid black;
  // margin-top: 52px;
=======
>>>>>>> b8532c2e650688db97339f513d2bf709c7d98b86
}