.buyContainer{
    .buyBtn{
    display: block;
    border: 2px solid #FFB526;
    background-color: #FFB526;
    color: var(--color-white);
    padding: 12px 120px;
    margin-left: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    transition: all 0.3s;
    }
    .buyBtn:hover{
        background-color: var(--color-white);
        color: #FFB526;
    }

    .addBtn{
    display: block;
    margin-top: 6px;
    margin-left: 30px;
    border: 2px solid #1885AE;
    background-color: var(--color-white);
    color: #1885AE;
    padding: 12px 118px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    transition: all 0.3s;
    }
    .addBtn:hover{
        background-color: #1885AE;;
        color: var(--color-white);
    }
}