.imgContainer{

.bigImgBox{
   width: 500px;
   height: 500px;
   border-radius: 15px;
   background-color: #F9F3E5;
   margin-right: 2vw;

   //Info박스가 일찍 밑으로 이동되어서 임시로 넣음
    @media (max-width: 1365px) {
        display: flex;
        justify-content: center;
        width: 35vw;
        height: 35vw;
        margin-right: 0px;
    }
}
}

//Info 박스
.infoContainer{
    padding: 30px;
    position: sticky !important;
    top: 30px !important;

    /* header (item-header-box) */
    .itemHeaderBox{
        display: flex;
        text-align: center;
    /* star-box */
        //img 실제 넣으면 img width: 160px 로 수정
        .imgBox{
        width: 160px;
        text-align: center;
        height: 200px;
        background-color: #F9F3E5;
        border-radius: 15px;
        }
    }
    /* product-desc */
    .productDescBox{
        display: flex;
        flex-direction: column;
        margin: 4px;
        > div:nth-of-type(1) {
            display: flex;
            button{
                color: var(--color-white);
                border-radius: 15px;
                font-size: 10px;
                float: right;
            }
        }

        > div:nth-of-type(2){
            flex: 1;
        }
        
    }
    
    .line{
    border: 0;
    height: 0;
    border-top: 2px solid #1885AE;
    margin: 40px 0px;
    }
    /* body (item-body-box) */
    .itemBodyBox{
        font-size: 14px;
        font-weight: bold;
        margin: 15px 30px 30px 30px;
        .price{
            text-align: right;
            text-decoration: line-through;
            display: block;
            margin-bottom: 10px;
            margin-right: 30px;

        }
        .totallBox{
            display: flex;
            justify-content: space-between;
            margin: 0 30px;
        }
    /* footer (item-footer-box) */
        .itemFooterBox{
            justify-items: center;
        }
    }
}
