.productInfoContainer{
    width: 100%;
    max-width: 470px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative; 
}
.stickyContainer{
    width:100%;
    height: 440px;
    //border: 1px solid black; //for 레이아웃 
    position: sticky !important;
    top: 150px !important;
    font-weight: bold;
}

// header = 사진+별
.itemHeaderContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
    
    // margin: 10px 0px 40px 0px;
    .imgStarBox{
        // flex:1;
        img{
            width: 160px;
            height: 200px;
            object-fit: cover;
            border-radius: 15px;
        }
        .reviewStar{
            text-align: center;
            // padding: 10px;
            margin-top: 20px;
            button{
                padding: 0px 3px;
            }
        }
    }

// body = new, 제품명, quantity
    .itemBodyContainer{
        // flex:1;
        padding: 5px 0 0 15px;

        > button{
            display: block;
            background-color: var(--color-blue);
            padding: 3px 6px;
            color: var(--color-white);
            border-radius: 15px;
            font-size: 12px;
            font-weight: 300;
            float: left;
        }
        .titleBox{
            display: inline-block;
            width: -webkit-fill-available; 
            height: 190px;
            padding-top: 10px;
        }
        .QuantityBox{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

    }


}

// footer - total, buybtn+Nowbtn, addCartBtn
.itemFooterContainer{
    border-top: solid 2px var(--color-blue);
    margin:auto;
    text-align:center;
    
    .priceBox{
        display: inline-flex;
        justify-content:space-between;
        text-align:center;
        width: 335px;
        height: 100px;
        line-height: 100px;
        text-align: center;
    .totalbox{
        border-radius: 15px;
    }
    }

    .btnBox{
        // width: fit-content;
        display: block;
        margin:auto;
        display:inline-block
    }
}
