.detailContainer{
    display: block;
    width: 100%;
    // max-width: 150px;

    .detailText{
        border-top: solid 2px #1885AE;
        border-bottom: solid 2px #1885AE;
        width: 500px;
        height: 50px;
        text-align: center;
        letter-spacing: 12px;
        margin: 12px 0;
        padding-top: 12px;
    }
    .imgcontainer{
        width: 500px;
        height: 1500px; //이미지 넣고 수정
        border-radius: 15px;
        background-color: #F9F3E5;
        margin: 12px 0;
    }
}
