.detailContainer{
    display: block;
    width: 100%;
    // max-width: 150px;
    .titleImg{
        width: 100%;
        height: 500px;
        border-radius: 15px;
        background-color: #F9F3E5;
    }

    .detailText{
        border-top: solid 2px var(--color-blue);
        border-bottom: solid 2px var(--color-blue);
        width: 100%;
        height: 50px;
        text-align: center;
        letter-spacing: 12px;
        margin: 30px 0;
        padding-top: 12px;
        font-weight: bold;
        color: var(--color-blue);
    }
    .detailImg{
        width: 100%;
        height: 1500px; //이미지 넣고 수정
        border-radius: 15px;
        background-color: #F9F3E5;
        margin: 12px 0px;
    }
}
