.quantityContainer{
    display: flex;
    font-weight: bold;
    justify-content: space-evenly;
    
    .controlBtn{
    width: 80px;
    margin-left: 50px;
    padding: 4px;
    border: 2px solid #1885AE;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    }
}