.quantityContainer {
  display: flex;
  font-weight: bold;
  justify-content: space-evenly;

  .controlBtn {
    width: 80px;
    // margin-left: 50px;
    padding: 2px;
    border: 2px solid var(--color-blue);
    border-radius: 15px;
    text-align: center;
    font-size: 14px;

    span {
      margin: 0px 5px;
    }
  }
}
