.home {
  display: flex;
  flex-direction: column;
}
.videoWrap {
  display: flex;
  margin-top: 120px;
  @media (max-width: 640px) {
    margin-top: 60px;
  }
}

.videoCenterWrap {
  margin: 0px 128px;

  @media (max-width: 980px) {
    margin: 0px 60px;
  }
}

.mainText {
  position: relative;
  left: 50%;
  bottom: 70px;
  transform: translate(-50%, 0%);
  font-family: 'Work Sans', sans-serif;
  text-align: center;

  .mainTextTop {
    background-color: var(--color-yellow);
    max-width: 40vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 10px;
    h2 {
      font-size: 2vw;
      font-weight: 600;
      color: var(--color-white);
      transform: scaleY(0.7);
      @media (max-width: 640px) {
        font-size: 5vw;
      }
    }
  }

  .mainTextBottom {
    h1 {
      color: var(--color-blue);
      font-size: 7vw;
      font-weight: 800;
      white-space: nowrap;
      transform: scaleY(1.5);
      @media (max-width: 640px) {
        font-size: 9vw;
      }
    }
  }
  @media (max-width: 640px) {
    bottom: 40px;
  }
}

.main2Wrap {
  text-align: center;
  margin-top: 150px;
  h3 {
    font-weight: 500;
    font-family: var(--font-notoSans);
    margin-bottom: 50px;
  }
}

.bestProducts {
  display: flex;
  justify-content: space-between;
  padding: 0px 60px;
}
