.signinTitle{
  h1{
    font-size: 30px;
    margin-bottom: 45px;
    color: #5C4B29;
  }
}

.signinForm{
  width: 450px;
  height: 100%;
  // padding: 20px 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .flexContainer{
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 20px;
    button{
      color: black;
      padding: 0;
      border: none;
      outline: none;
    }
    button:hover{
      color: var(--color-blue);
    }
    button:first-child{
      margin-right: 10px;
    }
  }
  .signupLink{
    font-size: 14px;
    margin-bottom: 20px;
    a{
      margin-left: 10px;
      color: rgb(0, 138, 169);
    }
  }
  .flexBox{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    img{
      width: 40px;
      cursor: pointer;
    }
  }
}