.appLayout {
  box-sizing: border-box;
  width: 99vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';

  Header {
    grid-area: 'header';
  }

  Main {
    grid-area: 'main';
  }

  Footer {
    grid-area: 'footer';
  }
}
