.appLayout {
  box-sizing: border-box;
  width: 100vw;
  // height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: 120px 1fr 250px;
  grid-template-areas:
    'header'
    'main'
    'footer';

  Header {
    grid-area: 'header';
  }

  Main {
    grid-area: 'main';
  }

  Footer {
    grid-area: 'footer';
  }
}
