.appLayout {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 65px 1fr 1fr;
  grid-template-areas:
    'header'
    'nav'
    'main'
    'footer';

  Header {
    grid-area: header;
  }
  Nav {
    grid-area: nav;
  }

  Main {
    grid-area: main;
  }

  Footer {
    grid-area: footer;
  }
}
