.MypageOrderContainer {
  .orderListTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
    h1 {
      color: var(--color-blue);
      font-size: 18px;
      font-weight: 600;
    }
  }

  .lineBold {
    height: 3px;
    width: 100%;
    background-color: var(--color-blue);
  }
  .lineTitle {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid var(--color-blue);
    li {
      color: var(--color-blue);
      font-size: 14px;
    }
    @media (max-width: 750px) {
      display: none;
    }
  }
}
