nav{
  display: flex;
  width: 100%;
  background-color: var(--color-white);
  height: 70px;
  
  button{
    margin-top: 20px;
    color: #5C4B29;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    i{
      color: #5C4B29;
    }
    @media (max-width: 980px) {
      font-size: 12px;
    }
  }
  button:hover{
    color: #FFB526;
  }

  .navLeft{
    position: absolute;
    left: 160px;
    button{
      margin-right: 50px;
    }
    @media (max-width: 980px) {
      left: 30px;
    }
  }

  .navRight{
    position: absolute;
    right: 160px;
    button{
      margin-left: 50px;
    }
    i{
      margin-right: 10px;
    }
    i:hover{
      color: #FFB526;
    }
    @media (max-width: 980px) {
      right: 30px;
    }
  }

  .textLogo{
    margin-top: 20px;
    img{
      height: 20px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0%);
      cursor: pointer;
      @media (max-width: 980px) {
        height: 15px;
      }
      @media (max-width: 640px) {
        display: none;
      }
    }
  }
}