.filterContainer{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 15px;

	
	button{
		padding: 10px;
		font-size: 14px;
		color: var(--color-blue);
	}
		:hover{
		color: var(--color-yellow);
		}	
	
}

.itemsContainer {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}

.itemsContainer {
	@media (max-width: 1050px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (max-width: 800px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 600px) {
		grid-template-columns: repeat(1, 1fr);
	}
}