.itemContainer {
    cursor: pointer;
    .imgBox{
    justify-content: center;
        img{
        width: 320px;
        border-radius: 15px;
        transition: all 0.2s linear;
        &:hover{
            transform: scale(1.04);
        }
       }
    }
    
    .textContainer{
        display: flex;
        flex-direction: column;
        width: 86%;
        margin: auto;
        padding: 10px;

        .titleBox{
            >span{
            font-size: 14px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            // overflow: hidden;
            }
        }

        .priceBox{
            display: flex;
            justify-content: space-between;
            margin-top:8px;


            p{
                font-weight: bold;
                color: var(--color-blue);
                font-size: 15px;
            }
    
            button{
                color: var(--color-white);
                border-radius: 15px;
                font-size: 14px;
            }
        }
    }

}