.itemsContainer {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
}

.itemsContainer {
	@media (max-width: 1050px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (max-width: 800px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 500px) {
		grid-template-columns: repeat(1, 1fr);
	}
}