awsParameterStorePropertySource:
  enabled: true
jwt:
  access-token-expiration-time: ${/config/cloud-parameter-store/atk-exp}
  refresh-token-expiration-time: ${/config/cloud-parameter-store/rtk-exp}
  secret: ${/config/cloud-parameter-store/jwt-secret}
spring:
  jpa:
    defer-datasource-initialization: true
    show-sql: true      # (2) SQL 쿼리 출력
    properties:
      hibernate:
        format_sql: true  # (3) SQL pretty print
  profiles:
    active: server # local / server
logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG
