spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${/config/cloud-parameter-store/db-user}
    password: ${/config/cloud-parameter-store/db-password}
    url: ${/config/cloud-parameter-store/db-url}
  jpa:
    hibernate:
      ddl-auto: validate # create / update / validate / none
cloud:
  aws:
    credentials:
      access-key: ${/config/cloud-parameter-store/aws-access-key}
      secret-key: ${/config/cloud-parameter-store/aws-secret-key}
    region:
      static: ${/config/cloud-parameter-store/aws-region}
    s3:
      bucket: ${/config/cloud-parameter-store/aws-s3-bucket}
    stack:
      auto: false
address:
  local: ${/config/cloud-parameter-store/local-address}
  domain: ${/config/cloud-parameter-store/domain-address}
  front-local: ${/config/cloud-parameter-store/front-local}
  front-s3: ${/config/cloud-parameter-store/front-s3}
