.home{
    display: flex;
    flex-direction: column;
}
.videoWrap{
    display: flex;
    margin-top: 120px;
    @media (max-width: 640px) {
        margin-top: 60px;
    }
}

.videoCenterWrap{
    margin: 0px 128px;
    .video1{
        height: 25vw;
        position: relative;
        right: 20px;
        @media (max-width: 640px) {
            height: 70vw;
            margin: 0px 60px;
            right: 0px;
        }
    }   
    @media (max-width: 980px) {
        margin: 0px 60px;
        
    }
}


.video2{
    max-height: 12vw;
    position: relative;
    top: 7vw;
    left: 3vw;
    @media (max-width: 980px) {
        top: 4vw;
    }
    @media (max-width: 640px) {
        left: 3vw;
        display: none;
    }
}

.video3{
    max-height: 13vw;
    position: relative;
    top: 10px;
    right: 50px;
    @media (max-width: 640px) {
        display: none;
    }
}

.video4{
    max-height: 18vw;
    position: relative;
    bottom: 50px;
    @media (max-width: 640px) {
        display: none;
    }
}

.video5{
    max-height: 13vw;
    position: relative;
    top: 10vw;
    right: 3vw;
    @media (max-width: 640px) {
        display: none;
    }
}

.mainText{
    position: relative;
    left: 50%;
    bottom: 70px;
    transform: translate(-50%, 0%);
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    
    .mainTextTop{
        background-color: var(--color-yellow);
        max-width: 40vw;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-bottom: 10px;
        h2{
            font-size: 2vw;
            font-weight: 600;
            color: var(--color-white);
            transform: scaleY(0.7);
            @media (max-width: 640px) {
                font-size: 5vw;
            }
        }
        
    }

    .mainTextBottom{
        h1{
            color: var(--color-blue);
            font-size: 7vw;
            font-weight: 800;
            white-space: nowrap;
            transform: scaleY(1.5);
            @media (max-width: 640px) {
                font-size: 9vw;
            }
        }
    }
    @media (max-width: 640px) {
        bottom: 40px;
    }
}