

.video1 {
  height: 25vw;
  position: relative;
  right: 20px;
  
  @media (max-width: 640px) {
    height: 70vw;
    margin: 0px 50px;
    right: 0px;
  }
}

.wrap2{
  overflow: hidden;
  position: relative;
  top: 12vw;
  right:4vw;
}

.video2 {
  max-height: 12vw;
  animation: slideInDown;
  animation-duration: 2s; 
  animation-fill-mode: backwards;
  animation-delay: 4s;
  @media (max-width: 640px) {
    display: none;
  }
}

.wrap3{
  overflow: hidden;
  position: relative;
  bottom: 15vw;
  left: 8vw;
}

.video3 {
  max-height: 13vw;
  animation: slideInDown;
  animation-duration: 2s; 
  animation-fill-mode: backwards;
  animation-delay: 4.7s;
  @media (max-width: 640px) {
    display: none;
  }
}

.wrap4{
  overflow: hidden;
  position: relative;
  bottom: 15vw;
  left: 3vw;
}

.video4 {
  max-height: 18vw;
  animation: slideInDown;
  animation-duration: 2s; 
  animation-fill-mode: backwards;
  animation-delay: 4.3s;
  @media (max-width: 640px) {
    display: none;
  }
}

.wrap5{
  overflow: hidden;
  position: relative;
  top: 9vw;
  right: 6vw;
}

.video5 {
  max-height: 13vw;
  animation: slideInDown;
  animation-duration: 2s; 
  animation-fill-mode: backwards;
  animation-delay: 4.5s;
  @media (max-width: 640px) {
    display: none;
  }
}
