.mainImg{
    width: 20vw;
    height: 25vw;
    border-radius: 30px;
    background-color: rgb(224, 224, 224);
    img{
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
}